<% @posts.each do |post| %>
	<div class="post-item">
		<h2><a href="<%= post.url %>" rel="external"><%= post.title %></a></h2>
		<%= post.description %>
		<div class="metadata">
			Posted by <%= post.user.name %>
		</div>
	</div>
<% end %>