<h1>Post It!</h1>
<ul class="nav">
  <% if current_user.nil? %>
	<li><a href="/login">Log in</a></li>
	<li><a href="/register">Register</a></li>
  <% else %>
	<li><%= link_to "Post", new_post_path %></li>
	<li><%= link_to "Manage Categories", categories_path %></li>
	<li><%= link_to "Edit Account", edit_user_path %></li>
	<li><a href="/logout">Log out</a></li>
  <% end %>
</ul>
